APP_URL=https://ais-dev-sr6sp7zjglzvt4v6fdnkdb-276979813707.us-east5.run.app
JWT_SECRET=tu_secreto_aqui
GEMINI_API_KEY=tu_clave_aqui
SUPABASE_URL=tu_url_aqui
SUPABASE_ANON_KEY=tu_anon_key_aqui

# Microsoft Azure Active Directory (Entra ID) configuration
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=common
